<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pillars</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
{{> nav/mainnav}}
{{#if user.admin}}
	{{> nav/adminnav}}
{{/if}}

{{{ body }}}

    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
    <script src="assets/js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>