<!-- NOTE WILL BE REPLACED WHEN USER INFO IS INCLUDED -->
<nav>
	<ul class="menu">
		<li class="menu-text">Admin Menu</li>
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<li><a href="#">Etc.</a></li>
	</ul>
</nav>
<!-- END NOTE -->


<h1>This here is an admin page</h1>