{{> chat/chats_popular}}
<div class="container">
	<div class="row">
		<div class="col-md-12">
					<form method="post" action="/">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Create a Plinth">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Create</button>
					</span>
				</div>
		</form>
		</div>
	</div>
</div>