		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="chat page">
						<div class="chatArea">
							<ul class="messages"></ul>
						</div>
						<input class="inputMessage" placeholder="Type here..."/>
					</div>
					<div class="login page">
						<div class="form">
							<h3 class="title">What's your nickname?</h3>
							<input class="usernameInput" type="text" maxlength="14" />
						</div>
					</div>
				</div>
			</div>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/chat.js"></script>