{{> chat/chats_popular}}
<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1>Plinths</h1>
				<div id="createPilinth">
                    <form method="post" action="/create_chat">
						<div class="input-group">
							<input type="text" class="form-control" name="title" placeholder="Create a Plinth">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Create</button>
							</span>
						</div>
					</form>
				</div>

<h3 class="text-center showMore">Advanced Creation <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></h3>
				<div id="advCreatePilinth" class="col-md-6 col-md-offset-3">
					<form method="post" action="/create_chat">
						<div class="form-group">
						<ul>
							<li><input type="text" class="form-control" name="title" placeholder="Name of Plinth"></li>
							<li><input type="text" class="form-control" name="moderators" placeholder="Moderator"></li>
							<li><strong>Moderation Level</strong></li>
							<li class="text-center">
								<label class="checkbox-inline">
									<input type="checkbox" name="none" class="defaultSelect" value="0">None
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" name="vulgar" class="defaultUnselect" value="1">Vulgar
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" name="racist" class="defaultUnselect" value="1">Racist
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" class="defaultUnselect" value="sexist">Sexist  
								</label>
							</li>
							<li><strong>Main Topic</strong></li>
							<li>
								<select class="form-control">
									<option>General</option>
									<option>Abuse</option>
									<option>Depression</option>
									<option>LGBT</option>
									<option>Political Activation</option>
									<option>Religion</option>
								</select>
							</li>
							<li><input type="text" class="form-control" name="password" placeholder="Password protected"></li>
							<li><button class="btn btn-default" type="submit">Create</button></li>
						</ul>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>