<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Chat Name</h1>
			{{chat.room}}
		</div>
		<div class="col-md-4">
			<h1>Resources</h1>
			{{resource.room}}
		</div>
	</div>
</div>