<div class="container">
	<div class="row">

		<div class="col-md-4 col-md-push-8">
			<h1>Resources</h1>
			{{resource.room}}
		</div>

		<div class="col-md-8 col-md-pull-4">
			<h1>Chat Name</h1>
			{{chat.room}}
		</div>

	</div>
</div>