<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">FAQ</h1>
	<div id="faq">
		<ul>
<hr>
	{{#each faqtable}}
        <li><strong>Question:</strong></li>
				<li>{{this.questions}}</li>
        <li><strong>Answer:</strong></li>
				<li>{{this.answers}}</li>
<hr>
	{{/each}}
		</ul>
	</div>
		</div>
	</div>
</div>