<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Pillars- Restructuring Humanity</h1>
			<h2>Plinths</h2>
			<h2>Chapiters</h2>
		</div>
		<div class="col-md-6">
			<h1>Video of site in action<h1>
		</div>







	</div>
</div>