<div class="container">
	<div class="row">
		<div class="col-md-12">


<h2>Search</h2>
<form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
</form>

<h2>Results</h2>
{{search.results}}

		</div>
	</div>
</div>