<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="loginBody">
				<div class="sectionerReg">
					<form method="post" action="/register">
							<h2 class="text-center">Register</h2>
								<div class="form-group">
									<label>Username</label>
									<input type="text" class="form-control" placeholder="Username" name="userName">
								</div>
							<div class="form-group">
									<label>Password</label>
									<input type="password" class="form-control" placeholder="Password Between 7 - 20 Characters" name="password">
							</div>
							<div class="form-group">
								<label>Email address <small>(Not Required only used for password reset)</small></label>
								<input type="email" class="form-control" placeholder="Email" name="email">
							</div>

							<button type="submit" class="btn btn-primary" value="register">Submit</button>

							<button type="button" class="btn btn-default"><a href="/login">Already a member?</a></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>