/*** MAIN STYLE ***/
body {
	padding-top: 50px;
	background: #51a48a;
	background-image: url("../img/bgtexture.png");
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

h1, h2, h3 {
	font-family: 'Cinzel', serif;
	color: #eee;
}

h1 {
	font-weight: bolder;
}

/*** PAGE STYLES ***/
#faq ul {
	list-style: none;
}

#faq li {
	padding: 5px 0;
}


/*** BOOTSTRAP OVERRIDE ***/
.navbar {
	background: #1B4D3E;
  border-color: #28735c;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #aaaaaa;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover  {
	color: #aaaaaa;
}